<table mat-table [dataSource]="projects" class="mat-elevation-z8">
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>N°</th>
    <td mat-cell *matCellDef="let element">{{ element.position }}</td>
  </ng-container>

  <ng-container matColumnDef="project">
    <th mat-header-cell *matHeaderCellDef>Projetos</th>
    <td mat-cell *matCellDef="let element">{{ element.title }}</td>
  </ng-container>

  <ng-container matColumnDef="task">
    <th mat-header-cell *matHeaderCellDef>Tasks</th>
    <td mat-cell *matCellDef="let element">{{ element.completedTasks }}/{{element.tasks.length}}</td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Ações</th>
    <td mat-cell *matCellDef="let element">
      <button >Visualizar</button>
      <button (click)="openModal(element._id)">Deletar</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

