header{
    width: 100%;
    /* padding: 28px 8%; */
}
img{
width: 100px;
margin-left: 20px;
}
.lista{
display: flex;
list-style: none;
gap: 45px;
}
.btn{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(219, 36, 36) ;
    padding: 12px 14px;
    font-weight: 900;
    border-radius:12px ;
    color: #ffffff;
    margin-right: 20px;
}
li a {
    text-decoration: none;
    color: rgb(219, 36, 36);
    font-weight: 900;
    
}
.navbar{
    width: 100%;
    display: flex;
    background-color:  rgb(128, 112, 112);
    align-items: center;
    justify-content: space-between;
}
body{
    padding: 0;
    margin: 0;
    color: rgb(46, 46, 46);
    word-wrap: break-word;
    overflow-wrap:break-word ;
}
h1{
 font-weight: 900;
 color: #000000;
}
h2{

}
.cont{
    width: 100%;
    margin: 0 auto;
}
main{
    display: block;
    background-color: #ffffff;
}
.contTexto{
width: 100%;
max-width: 760px;
margin: 0 auto;
padding: 0 20px;
}
section.modelo p{
margin-bottom: 38px;
color: #ffffff;
}
section.modelo:last-child{
    margin-bottom: 0;
}
section.modelo h2{
    margin-bottom: 38px;
    font-size: 30px;
    color: #ffffff;
}
section.modelo.texto{
    padding: 40px 0 ;
    background-color: rgb(128, 112, 112);
}
section.modelo.paralax{
display: flex;
flex-direction: column;
justify-content: center;
height: 100vh !important;
width: 100%;
position: relative;
overflow: hidden;
background-position: 50% 50%; 
background-attachment: fixed;
}

section.modelo.paralax::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0) 40%, #000000 100%);
}

section.modelo.paralax.foto1{
    background-image: url(https://1.bp.blogspot.com/-jmjLOdoOk6U/XjkEXRqhJ2I/AAAAAAAAlrM/2wT6JhePZVkye0dqe6Ddnmim6cBlOX1zwCLcBGAsYHQ/s2560/Scenery_Sky_Mountains_Grass_Nature_1920x1086.jpg);
}
section.modelo.paralax.foto2{
    background-image: url(https://images2.alphacoders.com/829/thumb-1920-829845.jpg);
}
section.modelo.paralax.foto3{
    background-image: url(https://images3.alphacoders.com/675/675177.jpg);
}
section.modelo.paralax h1{
    color: #ffffff;
    text-align: center;
    font-size: 75px;
    z-index: 45;
}
@media screen and (max-width:510px){
li a {
    display: none;
}
}
@media screen and (max-width:413px){
    section.modelo h2{
        margin-bottom: 38px;
        font-size: 25px;
        color: #ffffff;
    }
    section.modelo p{
        margin-bottom: 38px;
        color: #ffffff;
        font-size: 15px;
        }
}
@media screen and (max-width:376px){
    section.modelo h2{
        margin-bottom: 38px;
        font-size: 25px;
        color: #ffffff;
    }
    section.modelo{
        width: 100%;
    }
    section.modelo p{
        margin-bottom: 38px;
        color: #ffffff;
        font-size: 15px;
        padding: 0;
        margin-right: 25px;
       
        }
}