<section>
    <div class="contLogin" >
      <div class="header-form">
      <h1>Logar-se ao <b><img src="../../../../assets/logo (1).png" alt=""></b> </h1>
      <div class="imagem">

      </div>
    </div>
      <form >
        <div class="contInput">
          <label>
            <span>
              E-mail
            </span>
            <input type="text" name="user">
          </label>
        </div>
  
        <div class="contInput">
          <label>
            <span>
              Senha
            </span>
            <input type="password" name="pass">
          </label>
        </div>
      </form>
  
      <button type="button">
        Entrar
      </button>
  
      
    </div>
  </section>    
