//Não funciona com html padrão

div {
  background-color: #1800ec;
  background: url(https://miro.medium.com/v2/resize:fit:1400/0*-p9KdeOq6kbXpwuf.jpg);
  box-sizing: border-box;
  
  
  .texto:first-of-type {
    display: grid;
    grid-template-areas: ;
  grid-area: ;
  }
}


